
<h4>Szukaj tytułu książki:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label name="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Szukaj" class="btn btn-primary text-white bg-black" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="text-black">Powróć do listy książek</a>
</div>


